[submodule "site_scons"]
	path = site_scons
	url = git@github.com:makerbot/mw-scons-tools.git
[submodule "site_scons/site_tools"]
	path = site_scons/site_tools
	url = git@github.com:makerbot/mw-scons-tools.git
