Source: mb-libjsoncpp
Section: libs
Priority: extra
Maintainer: MakerBot Industries dev team <dev@makerbot.com>
Build-Depends: debhelper (>= 8.0.0), cdbs, scons
Standards-Version: 3.9.2
Homepage: https://github.com/makerbot/json-cpp
#Vcs-Git: git@github.com:makerbot/json-cpp.git
#Vcs-Browser: https://github.com/makerbot/json-cpp

Package: mb-libjsoncpp-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libjsoncpp0, libjsoncpp-dev
Description: MakerBot branch of library for reading and writing JSON for C++
 jsoncpp is an implementation of a JSON reader and writer in C++. This is
 the MakerBot branch of the tree.
